version: "3.8"

services:
  db:
    container_name: postgres
    image: postgres:14.1-alpine3.15
    environment:
      POSTGRES_DB: ${DB_DATABASE_NAME:-app}
      POSTGRES_USER: ${DB_USERNAME:-dev}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-sudo}
      PG_DATA: /var/lib/postgresql/data
    volumes:
      - data:/var/lib/postgresql/data
    ports:
      - ${DB_PORT:-5432}:5432

  server:
    container_name: server
    build:
      context: .
    volumes:
      - ./server/src:/usr/src/app/server/src
      - /usr/src/app/node_modules # isolate node_modules
    ports:
      - ${SERVER_PORT:-8080}:${SERVER_PORT:-8080}
    command: npm run --workspace=server start:dev
    environment:
      DB_HOST: postgres
      DB_PORT: ${DB_PORT:-5432}
      DB_DATABASE_NAME: ${DB_DATABASE_NAME:-app}
      DB_USERNAME: ${DB_USERNAME:-dev}
      DB_PASSWORD: ${DB_PASSWORD:-sudo}
      SERVER_PORT: ${SERVER_PORT:-8080}
    depends_on:
      - db

  client:
    container_name: client
    build: # same as server, but won't be built twice: https://github.com/docker/compose/issues/7343
      context: .
    volumes:
      - ./client:/usr/src/app/client
      - ./server/src:/usr/src/app/server/src
      - /usr/src/app/node_modules # isolate node_modules
    ports:
      - ${CLIENT_PORT:-3000}:${CLIENT_PORT:-3000}
    command: npm run --workspace=client dev
    environment:
      PORT: ${CLIENT_PORT:-3000}
      SERVER_URL: ${SERVER_URL:-http://localhost:8080}
    depends_on:
      - server

volumes:
  data: # isolate DB data from potentially different OS
